<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests for QTrip">
    <test name = "Test Execution using testNG" verbose="2">
        <groups>
            <run>
              <include name = "Login_Flow"/>
              <include name = "Search_and_Filter_flow"/>
              <include name = "Booking_and_Cancellation_Flow"/>
              <include name = "Reliability_Flow"/>
            </run>
        </groups> 
        <!-- <classes>
            <class name="qtriptest.tests.testCase_01"/>
        </classes> -->
        <packages>
            <package name="Qtrip_QA.tests"></package>
        </packages>
    </test>
</suite>